<div class="col-xs-12">
    <h2>Multi-cool</h2>
    <div>
        Multi-cool is a project that tries to collect common tools used by developers (and non-developers) into one place.
        You can find the project in <a href="https://github.com/arcanoid/multi-cool" target="_blank">https://github.com/arcanoid/multi-cool</a>. Feel free to use and contribute!
    </div>
</div>
