<div class="page-header">
  <h1>Sample data</h1>
</div>

<div class="row">
  <div class="col-xs-12">
    <h3>Basic sample data</h3>
  </div>
  <% @basic_data.each do |sample| %>
      <div class="col-xs-6">
        <strong><%= sample[:type] %></strong>: <%= sample[:value] %>
      </div>
  <% end %>
</div>